.txt-li{
    font-size: 18px;
	font-weight: 200;
}
p.lead-min{
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.translate{
    cursor: pointer;
}
.rd-navbar-aside .privacy-link{
    color: aqua;
}
.rd-navbar-fixed .rd-navbar-collapse .rd-navbar-aside .privacy-link {
    color: black;
    font-weight: bold;
}